<html>
<head>
{% load staticfiles %}
{% load dajaxice_templatetags %}
<link rel="stylesheet" type="text/css" href="{% static 'PodCasts/style.css' %}" >
<script type="text/javascript" src="{% static 'PodCasts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'PodCasts/script.js' %}"></script>
{% dajaxice_js_import %}

</head>
<body>
    <div class = "view-frame">
        <div class="header">
        {% include 'PodCasts/header.html' %}
        </div>
        <div class="content">
          <div class="left-content">
          {% block content %}
          Missing Content
          {% endblock %}
          </div>
          <div class="right-content">
          {% include 'PodCasts/right-content.html' %}
          </div>
        </div>
    </div>
</body>
</html>
