.view-frame {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  position: relative;
}

.left-content {
  width: 900px;
  display: inline-block;
  position: absolute;
}

.right-content {
  display: inline-block;
  position: absolute;
  width: 300px;
  left: 900px;
}

.title-image {
  display: inline;
}

.inline {
  display: inline;
}

.title-div {
  padding-bottom: 15px;
}

.title {
  font-size: 150%;
  color: gray;
  font-weight:bold;
  display: inline;
}

.informative {
  color: gray;
  font-weight: lighter;
  display: inline;
}

.item-description {
}

.item {
  padding-bottom: 5px;
  position: relative;
}

.item-buttons {
  display: inline-block;
  vertical-align: top;
  position: absolute;
}

.img-icon{
  width: 16px;
  height: 16px;
  display: block;
}

.img-icon-clickable:hover{
  cursor: pointer;
}

/* Favorite Image */
.icon-fav-blank {   display: block; }
.favorite .icon-fav-blank { display: none; }

.icon-favorite {    display: none;  }
.favorite .icon-favorite {  display: block;}

/* Done Icon */
.icon-done { display: none;}
.done .icon-done { display: block;}

.item-content {
  width: 700px;
  vertical-align: top;
  position: relative;
  left: 20px;
}

.clickable {
}

.clickable:hover {
  cursor: pointer;
  background-color: gray;
}

.item-title {
  font-size: 112%;
  font-weight: bold;
  display: inline;
}

.item-subtitle {
  display: inline;
  font-weight: lighter;
}

.item-body {
  padding: 5px;
}

.header {
}

.nav {
  display: inline-block;
}

.header-right {
  display: inline-block;
  margin-left: auto;
}

.nav ul ul {
    display: none;
}

    .nav ul li:hover > ul {
        display: block;
    }


.nav ul {
    background: #efefef; 
    padding: 0 5px;
    list-style: none;
    position: relative;
    display: inline-table;
}
    .nav ul:after {
        content: ""; clear: both; display: block;
    }

    .nav ul li {
        float: left;
    }
        .nav ul li:hover {
            background: #4b545f;
            background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
            background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
            background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
        }
            .nav ul li:hover a {
                color: #fff;
            }
        
        .nav ul li a {
            display: block; padding: 5px 30px;
            color: #757575; text-decoration: none;
        }
            
        
    .nav ul ul {
        background: #5f6975; border-radius: 0px; padding: 0;
        position: absolute; top: 100%;
    }
        .nav ul ul li {
            float: none; 
            border-top: 1px solid #6b727c;
            border-bottom: 1px solid #575f6a; position: relative;
        }
            .nav ul ul li a {
                padding: 15px 40px;
                color: #fff;
            }   
                .nav ul ul li a:hover {
                    background: #4b545f;
                }
        
    .nav ul ul ul {
        position: absolute; left: 100%; top:0;
    }
        
